@page
@model Resource.Pages.Panel.CustomersModel
@{
    ViewData["Title"] = "customers";
    Layout = "~/Pages/Panel/_themeLayout.cshtml";
}

<h2>customers</h2>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @foreach (string name in Model.ColumbNames)
                            {
                                <th>
                                    @Html.DisplayFor(model => name)
                                </th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            @foreach (string name in Model.ColumbNames)
                            {
                                <th>
                                    @Html.DisplayFor(model => name)
                                </th>
                            }
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Row)
                        {
                            <tr>
                                @foreach (var subitem in item.Item2)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => subitem)
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>